
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<br /><br /><br /><br />

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Emprego</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="">
                        <a href="https://g1.globo.com/pe/petrolina-regiao/noticia/2020/03/16/confira-as-vagas-de-emprego-disponiveis-nesta-segunda-feira-16-no-sertao-de-pe.ghtml" target="_blank">
                            <h1>Confira as vagas de emprego disponíveis nesta segunda-feira (16) no Sertão de PE</h1>
                            <p align="justify">
                                As oportunidades são em Petrolina e Salgueiro. As vagas são disponibilizadas pela Agência do Trabalho de Pernambuco
                            </p>
                        </a>
                        <div class="pull-right">
                            16/03/2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Mundo</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/03/15/brasil-tem-176-casos-de-coronavirus-segundo-relatorio-do-ministerio-da-saude.ghtml" target="_blank">
                                <h1>Brasil tem 200 casos de coronavírus, segundo relatório do Ministério da Saúde</h1>
                                <p align="justify">
                                    Ainda há 1.913 casos suspeitos em 25 estados e no Distrito Federal.
                                </p>
                            </a>
                            <div class="pull-right">
                                16/03/2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Esportes</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://g1.globo.com/economia/noticia/2020/03/16/com-economia-paralisada-producao-industrial-da-china-registra-1a-contracao-em-quase-30-anos.ghtml" target="_blank">
                                <h1>Produção industrial da China registra 1ª contração em quase 30 anos</h1>
                                <p align="justify">
                                    Nos primeiros dois meses do ano, queda em ritmo anual foi de 13,5%, contra uma alta de 6,9% em dezembro. Já as vendas no varejo recuaram 20,5%.
                                </p>
                            </a>
                            <div class="pull-right">
                                14/03/2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Distrito Federal</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://www.metropoles.com/colunas-blogs/grande-angular/coronavirus-gdf-antecipa-ferias-e-suspende-aulas-por-15-dias" target="_blank">
                                <h1>GDF antecipa férias e suspende aulas por 15 dias</h1>
                                <p align="justify">
                                    O Governo do DF elaborou novo decreto definindo que o recesso escolar terá início a partir desta segunda-feira (16/03)
                                </p>
                            </a>
                            <div class="pull-right">
                                14/03/2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Esportes</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://www.metropoles.com/esportes/futebol/leonardo-ja-admite-saida-de-neymar-do-psg-mbappe-fica" target="_blank">
                                <h1>PSG já admite saída de Neymar do clube</h1>
                                <p align="justify">
                                    PSG já tem um plano, facilitar a saída de Neymar e segurar Mbappé
                                </p>
                            </a>
                            <div class="pull-right">
                                14/03/2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Economia</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://g1.globo.com/economia/noticia/2020/03/13/bovespa.ghtml" target="_blank">
                                <h1>Bovespa fecha em forte alta nesta sexta, mas tem pior semana desde 2008</h1>
                                <p align="justify">
                                    O Ibovespa subiu 13,91%, a 82.677 pontos, nesta sexta-feira, mas acumulou queda de 15,68% na semana. Na quinta, índice despencou 14,78%.
                                </p>
                            </a>
                            <div class="pull-right">
                                13/03/2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Economia</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://g1.globo.com/economia/noticia/2020/03/13/empresas-listadas-na-bolsa-perdem-r-592-bilhoes-em-valor-de-mercado-na-semana.ghtml" target="_blank">
                                <h1>Empresas listadas na bolsa perdem R$ 592 bilhões em valor de mercado na semana</h1>
                                <p align="justify">
                                    Somente no mês de março, o valor das companhias despencou R$ 798,8 bilhões. No ano a queda é de R$ 1,16 trilhão.
                                </p>
                            </a>
                            <div class="pull-right">
                                13/03/2020
                            </div>
                        </div>
                        <img src="https://s2.glbimg.com/esFfgsOZMviaeQFbxQsysjCpiWE=/0x0:6000x4000/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/M/F/QyTHMFQ1GAYaIBavaA0A/age20200311053.jpg" width="300px" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Entretenimento</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <a href="https://gshow.globo.com/realities/bbb/" target="_blank">
                            <img src="~/Content/images/bbb.png" width="1290px" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Emprego</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://www.ontruck.com.br/noticia/2210/rec-transportes-contrata-motorista-carreteiro-em-tres-estados-e-no-distrito-federal" target="_blank">
                                <h1>Rec Transportes contrata Motorista carreteiro</h1>
                                <p align="justify">
                                    A REC Transportes, divulgou em suas redes sociais, que está com oportunidades para contratação de motoristas carreteiros em caráter efetivo.

                                    As cidades com oportunidades de contratação são:

                                    - Jundiaí/SP

                                    - Contagem/MG

                                    - Uberlândia/MG

                                    - Aparecida de Goiânia/GO

                                    - Brasília/DF
                                </p>
                            </a>
                            <div class="pull-right">
                                12/03/2020
                            </div>
                        </div>
                        <img src="~/Content/images/truck.jpg" width="250px" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Economia</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://economia.uol.com.br/cotacoes/noticias/redacao/2020/03/12/dolar-bolsa-operacao.htm" target="_blank">
                                <h1>Bolsa tem queda de mais de 14% após 2ª parada temporária no dia; dólar sobe</h1>
                                <p align="justify">

                                </p>
                            </a>
                            <div class="pull-right">
                                12/03/2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Esporte</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://www.esportedigital.com.br/videos" target="_blank">
                                <h1>Grêmio X Internacional</h1>
                                <p align="justify">
                                    Grêmio X Internacional AO VIVO | Libertadores 2020 | 12/03/2020
                                </p>
                            </a>
                            <div class="pull-right">
                                12/03/2020
                            </div>
                        </div>
                        <img src="~/Content/images/gremioxinter.png" width="300px" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Esporte</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="bs-example" data-example-id="simple-jumbotron">
                        <div class="">
                            <a href="https://www.esportedigital.com.br/post/flamengo-esmaga-barcelona-na-libertadores" target="_blank">
                                <h1>Flamengo vence na Libertadores</h1>
                                <p align="justify">
                                    Flamengo vence por 3 a 0 sobre o Barcelona de Guayaquil pela Libertadores, na noite de quarta-feira.
                                </p>
                            </a>
                            <div class="pull-right">
                                12/03/2020
                            </div>
                        </div>
                        <img src="~/Content/images/Flamengo-768x576.jpg" width="250px" />
                    </div>
                </div>
            </div>
        </div>
    </div>

