
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<br /><br /><br /><br />
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Emprego</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="">
                        <a href="https://www.ontruck.com.br/noticia/2210/rec-transportes-contrata-motorista-carreteiro-em-tres-estados-e-no-distrito-federal" target="_blank">
                            <h1>Rec Transportes contrata Motorista carreteiro</h1>
                            <p align="justify">
                                A REC Transportes, divulgou em suas redes sociais, que está com oportunidades para contratação de motoristas carreteiros em caráter efetivo.

                                As cidades com oportunidades de contratação são:

                                - Jundiaí/SP

                                - Contagem/MG

                                - Uberlândia/MG

                                - Aparecida de Goiânia/GO

                                - Brasília/DF
                            </p>
                        </a>
                        <div class="pull-right">
                            12/03/2020
                        </div>
                    </div>
                    <img src="~/Content/images/truck.jpg" width="250px" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Economia</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="">
                        <a href="https://economia.uol.com.br/cotacoes/noticias/redacao/2020/03/12/dolar-bolsa-operacao.htm" target="_blank">
                            <h1>Bolsa tem queda de mais de 14% após 2ª parada temporária no dia; dólar sobe</h1>
                            <p align="justify">
                                
                            </p>
                        </a>
                        <div class="pull-right">
                            12/03/2020
                        </div>                                                
                    </div>                    
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Esporte</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="">
                        <a href="https://www.esportedigital.com.br/videos" target="_blank">
                            <h1>Grêmio X Internacional</h1>
                            <p align="justify">
                                Grêmio X Internacional AO VIVO | Libertadores 2020 | 12/03/2020
                            </p>
                        </a>
                        <div class="pull-right">
                            12/03/2020
                        </div>
                    </div>
                    <img src="~/Content/images/gremioxinter.png" width="300px" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Esporte</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="">
                        <a href="https://www.esportedigital.com.br/post/flamengo-esmaga-barcelona-na-libertadores" target="_blank">
                            <h1>Flamengo vence na Libertadores</h1>
                            <p align="justify">
                                Flamengo vence por 3 a 0 sobre o Barcelona de Guayaquil pela Libertadores, na noite de quarta-feira.
                            </p>
                        </a>
                        <div class="pull-right">
                            12/03/2020
                        </div>
                    </div>
                    <img src="~/Content/images/Flamengo-768x576.jpg" width="250px" />
                </div>
            </div>
        </div>
    </div>  
</div>
  
